/*The outer files will be imported to keep things clean*/
/* Elements */
/* Fonts */
@font-face {
  font-family: Edo SZ;
  src: url("../fonts/EdoSZ.ttf"); }
@font-face {
  font-family: Bebas Neue;
  src: url("../fonts/BebasNeue.ttf"); }
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Regular.TTF"); }
@font-face {
  font-family: Lato Light;
  src: url("../fonts/Lato-Light.TTF"); }
@font-face {
  font-family: Lato Bold;
  src: url("../fonts/Lato-Bold.TTF"); }
@font-face {
  font-family: Lato Black;
  src: url("../fonts/Lato-Black.TTF"); }
/*Font variables*/
/*Basic colors*/
/* Typography */
h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

p {
  font-family: "Lato Light", sans-serif;
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 28px; }

ul {
  padding: 0; }

li {
  font-family: "Lato Semibold";
  font-size: 16px;
  letter-spacing: 0.016em;
  line-height: 28px;
  list-style-type: none; }

/* H1 Style */
h1 {
  font-family: "Edo Sz", sans-serif;
  font-size: 44px;
  line-height: 48px;
  letter-spacing: 0.06em;
  margin-top: 40%;
  margin-left: 6%; }

.h1_circle {
  border: 18px solid #111111;
  border-radius: 100%;
  background-color: #FFFFFF;
  width: 310px;
  height: 310px; }
  .h1_circle.small {
    width: 256px;
    height: 256px; }
    .h1_circle.small h1 {
      font-size: 36px; }

.h2_heading h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 48px;
  letter-spacing: 0.08em;
  margin-bottom: 3px; }
.h2_heading span:before {
  content: ' \25CF';
  font-size: 18px;
  color: #e57025; }

h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  letter-spacing: 0.042em; }

h4 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 28px;
  letter-spacing: 0.05em; }

h5 {
  font: 700 20px "Lato Light", sans-serif;
  color: #111111;
  margin: 0; }

h6 {
  font: 800 16px "Lato Light", sans-serif;
  margin: 0; }

/*Common Elements*/
html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0; }

section {
  padding-left: 24.21vw; }

div {
  display: block;
  margin: 0 auto; }

a {
  color: #e57025;
  font-family: "Bebas Neue", sans-serif;
  font-size: 28pt;
  letter-spacing: 0.05em; }

button {
  border-radius: 2px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 28pt;
  letter-spacing: 0.05em; }

/*The dots*/
.small-graphic-dot span:before {
  content: ' \25CF';
  font-size: 24px;
  color: #e57025; }

.big-graphic-dot span:before {
  content: ' \25CF';
  font-size: 68px;
  color: #F1F1F1; }

/*Slider Control*/
.slider_controls {
  display: inline-block;
  text-align: center; }
  .slider_controls .control {
    display: inline-block; }
    .slider_controls .control:hover {
      cursor: pointer; }
  .slider_controls .prev, .slider_controls .next {
    width: 40px; }
  .slider_controls .next {
    transform: rotate(180deg); }
  .slider_controls .selected {
    background-color: #e57025; }
  .slider_controls .page {
    width: 12px;
    height: 12px;
    margin: 8px 0px;
    border-radius: 6px;
    background-color: #111111; }
  .slider_controls.white .page {
    background-color: #FFFFFF; }

/* Color themes */
.dark-theme {
  background-color: #111111;
  color: #FFFFFF; }
  .dark-theme h1 {
    background-color: initial;
    color: initial; }

.light-theme {
  background-color: #FFFFFF;
  color: #111111; }

nav {
  display: inline-block; }
  nav a {
    color: #FFFFFF;
    font: 700 20pt/36pt "Bebas Neue", sans-serif;
    letter-spacing: 0.05em;
    text-decoration: none; }
  nav .selected {
    font-size: 26pt;
    padding-left: 10px;
    border-left: solid 4px #e57025; }
  nav .logo {
    width: 128px; }
    nav .logo.min {
      width: 80px; }

.logo {
  width: 128px; }
  .logo .orange {
    fill: #e57025; }
  .logo .white {
    fill: #FFFFFF; }
  .logo .black {
    fill: #111111; }

/* Unique Elements */
/* Header */
.header, .what-is-taiko {
  min-height: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
  background: #eee;
  border-top: 4px solid black; }

#wadaiko {
  font-family: "Edo Sz", sans-serif;
  font-size: 76px; }

/* Who We Are */
.quote {
  font-family: "Edo Sz", sans-serif;
  font-size: 44px; }

.map {
  max-width: 100%;
  height: 348px; }

/* People */
.team_img {
  height: 328px;
  width: 100%; }

.member_img {
  height: 216px;
  width: 200px; }

/* Merchandise */
.merch_img {
  height: 248px;
  width: 248px; }

/* Positioning */
#who-we-are_box {
  box-sizing: border-box;
  padding: 3vw 8.51vw; }

.map_practice-info {
  display: inline-block; }
  .map_practice-info .practice-time {
    font-family: 'Lato Black'; }
  .map_practice-info .practice-location {
    font-family: 'Lato'; }

.key-color {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  vertical-align: top;
  margin-right: 15px;
  background-color: #CCC; }

.map_location {
  display: inline-block; }
  .map_location p {
    font-family: 'Lato Black';
    display: inline-block; }

/*# sourceMappingURL=styles.css.map */
