nav{
	display: inline-block;
	background-color: $color-black;

	position: fixed;
	top: 36px;
	left: 40px;

	z-index: 10;
	a{
		color: $color-white;
		font: 700 20pt/36pt $font-heading;
		letter-spacing: 0.05em;
		text-decoration: none;
		&:hover{
			color: $color-orange;
		}
	}
	& .selected{
		font-size: 26pt;
		padding-left: 10px;
		border-left: solid 4px $color-orange;
		&:hover{
			color: $color-white;
		}
	}

	&.black{
		z-index: 9;
		a{
			color: $color-black;
		}
	}

	.logo{
		width: 128px;
		&.min{
			width: 80px;
		}
	}
}

.logo{
	width: 128px;

	.orange{
		fill: $color-orange;
	}
	.main{
		fill: $color-white;
	}
	&.black{
		.main{
			fill: $color-black;
		}
	}
}