/* Typography */

p{
  font-family: $font-body;
  font-size: 16pt;
  letter-spacing: 0.01em;
  line-height: 28pt;
}

li{
  font-family: "Lato Semibold";
  font-size: 16pt;
  letter-spacing: 0.016em;
  line-height: 28pt;
  list-style-type: none;
}

/* H1 Style */
h1 {
	font-family: $font-heading2;
	font-size: 44px;
	line-height: 48px;
	letter-spacing: 0.06em;

	margin-top: 40%;
	margin-left: 6%;
}
.h1_circle {
	border: 18px solid black;
	border-radius: 100%;	

	width: 310px;
	height: 310px;

	&.small {
		width: 256px;
		height: 256px;
		h1 {
	    	font-size: 36px;
	 	}
	}
}

.h2_heading {
	h2{
		font-family: $font-heading;
		font-size: 48pt;
		letter-spacing: 0.044em;

		margin-bottom: 5px;
	}

	circle{
		fill: $color-orange;
	}
}

h3 {
    font-family: $font-heading;
    font-size: 40pt;
	letter-spacing: 0.042em;
}

h4 {
    font-family: $font-heading;
    font-size: 28pt;
	letter-spacing: 0.05em;
}

h5{
	font: 700 20pt $font-body;
	color: $color-black;
	margin: 0;
}

h6{
	font: 800 16pt $font-body;
	margin: 0;
}