/* Unique Elements */

/* Header */
.header, .what-is-taiko{
    min-height: 100%;
    padding-bottom: 100px;
    text-align: center;
}

#wadaiko{
  font-family: $font-heading2;
  font-size: 76px;
}

/* Who We Are */
.quote {
	font-family: $font-heading2;
	font-size: 44px;
}

#map {
	max-width: 100%;
	height: 348px;
}

/* People */
.team_img {
    height: 328px;
    width: 100%;
}

.member_img {
    height: 216px;
    width: 200px;
}

/* Merchandise */
.merch_img{
  max-height: 248px;
  max-width: 248px;
}