// Viewport Conversion Function
@function get-vw($target) { 
  $vw-context: (1000*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

/* Experiences Styles */

// GALLERY SECTION

#gallery {
	
	position: relative;
	margin-bottom: 10vw;

	img { 
		padding: get-vw(2px); 
	}

	.gallery_img1 {
		height: 25vw;
		width: 34vw;
	}
	.gallery_img2 {
		height: 25vw;
		width: 30vw;
	}
	.gallery_img3 {
		height: 15vw;
		width: 44vw;
	}
	.gallery_img4 {
		height: 15vw;
		width: 20vw;
	}

	.slider_controls {
		position: absolute;
		top: 10vw;
		right: 3.5vw;
	}

}

.right_aligned_heading {
	margin-left: 55vw;
}

// TIMELINE SECTION

.timeline img {
	height: 436px;
	width: 400px;
}

button {
	margin-left: 10vw;
}

.timeline-heading {
	position: relative;

	.button-row {
		position: absolute;
		right: 10vw;
		top: 0;
	}
}