/* Experiences Styles */
.timeline img {
	height: 436px;
	width: 400px;
}

#gallery {
	margin-top: 40px;
	img { padding: 2px; }
	.gallery_img1 {
		height: 400px;
		width: 525px;
	}
	.gallery_img2 {
		height: 400px;
		width: 425px;
	}
	.gallery_img3 {
		height: 200px;
		width: 625px;
	}
	.gallery_img4 {
		height: 200px;
		width: 325px;
	}


	.slider_controls {
		margin-left: 60px;
	}
}

/* Add to main styles for 
black sections */
.white {
	color: #FFFFFF;
}
.right {
	text-align: right;
}

/* Add to main H1 circle style */
.h1_circle {
	background-color: #FFFFFF;
}