.faqs{
  background-color: $color-white;
  position: relative;
  padding-top: 200px;

  //Base divs
  .faq_item{
    max-width: 396px;
    display: inline-block;
    padding-bottom: 76px;
  }

  //Base h4's
  h4{
    padding-bottom: 15px;
  }

  .faqs__column{
    width: 50%;
    display: inline-block;

    &.col1{
      float: left;
    }
  }

  //Set them to absolute
  & .big-graphic-dot{
    top: 0;
    right: 15%;
    position: absolute;
  }

}
