.faqs{
  background-color: $color-white;
  position: relative;
  padding-top: 200px;

  //Base divs
  .faq_item{
    max-width: 396px;
    display: inline-block;
    padding-bottom: 76px;
  }

  //Base h4's
  h4{
    padding-bottom: 15px;
  }

  .faqs__column{
    width: 50%;
    display: inline-block;

    &.col1{
      float: left;
    }
  }

  //Set them to absolute
  & .big-graphic-dot{
    top: 0;
    right: 15%;
    position: absolute;
  }

  /*&__button{
    color: $color-black;
    border: 2px solid black (!important);
  }*/

    //Column on the left
  /*&__column1{
    max-width: 31%;
    float: left;
    padding-right: 10%;
    &__row1{

    }
    &__row2{

    }
  }

  //Column on the right
  &__column2{
    max-width: 35%;

    //Set them to absolute
    &__dots{
      //Has to go behind the next row
      z-index: 1;
      top: 0;
      right: 15%;
      position: absolute;
    }

    &__row1{
      //On top of the previous dot row
      max-width: 25%;
      z-index: 2;
      top: 14%;
      position: absolute;
    }
    &__row2{
      max-width: 25%;
      top: 78%;
      position: absolute;
    }
    &__button{
      top: 180%;
      right: 33%;
      position: absolute;
      color: $color-black;
      border: 2px solid black (!important);
    }
  }*/
}
