.footer{
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  text-align: center;

  &__copyright{
    float: left;
    padding-left:40px;
  }
}
