.footer{
  color: $color-white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 1rem;
  background-color: $color-black;

  z-index: 10;

  &__copyright{
    /*float: left;*/
    padding-left:40px;
  }
}
