.header{
  height: 536px;
  box-sizing: border-box;
}

#header-background{
  background-image: url("../images/placeholders/ready.JPG");
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

.header::before{
  display: none;
}
.header::after{
  background: url(../images/ui_elements/section-divider-white.png);
  transform: rotate(0deg);
  bottom: 0;
}

.header-title{
  /*Positions the main box*/
  position: absolute;
  bottom: 200px;
  right: 116px;
  text-align: right;

  h1{
    margin-bottom: 40px;
  }

  /*Positions the button*/
  .header-button{
    float: right;
    margin-top: 20px;
    margin-right: 128px;

    span{
      margin: 0 11px 0 11px;
    }
  }
}
