#merchandise{
	padding-top: 224px;
	padding-bottom: 288px;
}

/* Currently Visible Section of Merch */
#merchandise-view {
	position: relative;
	text-align: center;

	.merchandise-item {
		display: inline-block;
		margin: 0 2vw;
		text-decoration: none;
		color: $color-black;

		figcaption {
			margin-top: 10%;
			line-height: 1.75vw;
		}
	}
}

.price{
	font-family: 'Lato Bold';
	margin-top: 20px;
}


/* For vertically centering a slider control */
.v-centered {
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
}
