/* Currently Visible Section of Merch */
#merchandise-view {
	position: relative;
	margin-top: 5%;

	.merchandise-item {
		display: inline-block;
		text-align: center;

		figcaption {
			margin-top: 10%;
			line-height: 1.75vw;
		}
	}
}


/* For vertically centering a slider control */
.v-centered {
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
}
