.kenji_link {
	text-decoration: none;
}

.masa_info, .kenji_info {
	padding: 5vw 10vw 5vw 0;
}

.masa_title, .kenji_title {
	margin-bottom: 2vw;
}

.masa_image, .kenji_image {
	border-radius: 100%;
	height: 20vw;
	width: 20vw;
	float: left;
	margin-right: 5vw;
}


// override old stuff
.right-aligned {
	right: 10vw;
}

.team_img { 
	width: 66vw;
	height: 25vw;
	overflow: hidden;

	img{
		width: 100%;
	}
}