/*Fonts - lato light and bold*/

@font-face {
  font-family: Lato Light;
  src: url("LATO-LIGHT.TTF");
}

@font-face {
  font-family: Lato Semibold;
  src: url("LATO-BOLD.TTF");
}

/*typo for p and list items*/

p{
  font-family: "Lato Light";
  font-size: 16pt;
  letter-spacing: 0.01em;
  line-height: 28pt;
}

li{
  font-family: "Lato Semibold";
  font-size: 16pt;
  letter-spacing: 0.016em;
  line-height: 28pt;
}

/*The dots*/
.small-graphic-dot:before {
  content: ' \25CF';
  font-size: 24px;
  color: orange;
}


.big-graphic-dot:before{
  content: ' \25CF';
  font-size: 68px;
  color: #F1F1F1;
}
